// Colors
$theme-color: #68516D;
$theme-color-contrast: #EED253;
$theme-color-transparent: #68516ded;
$background-color-light: #1D1D1D;

$input-color: #5f5f5fbf;

// Measurements
$top-nav-height: 50px;