@import '../../../styles.scss';

#divMain {
  background-color: $background-color-light;
  padding-top: 55px;

  .card {
    width: 99%
  }


  .custom-select {
    height: 30px;
    font-size: 14px;
  }

  h4, .col-form-label {
    color: white;
  }

  hr {
    background-color: white;
  }

  .col {
    background-color: transparent;
  }

  #ordersBindingSection {
    .form-group {
       padding : 0!important;

      .fieldsize {
        width: 150px;
      }
    }
  }
}

#buttonSection {
  #btndetails {
    font-size: 10px;
  }

  button {
    font-size: 12px;
  }
}


#formshipping {
  @import url("https://rsms.me/inter/inter.css");

  :root {
    --color-gray: #737888;
    --color-lighter-gray: #e3e5ed;
    --color-light-gray: #f7f7fa;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
  }

  @supports (font-variation-settings: normal) {
    html {
      font-family: "Inter var", sans-serif;
    }
  }

  body {
    margin: 0;
  }

  h1 {
    margin-bottom: 1rem;
  }

  p {
    color: var(--color-gray);
  }

  hr {
    height: 1px;
    width: 100%;
    background-color: var(--color-light-gray);
    border: 0;
    margin: 2rem 0;
  }

  .container {
    max-width: 40rem;
    padding: 10vw 2rem 0;
    margin: 0 auto;
    height: 100vh;
  }

  .form {
    display: grid;
    grid-gap: 1rem;
  }

  .field {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-lighter-gray);
    padding: .5rem;
    border-radius: .25rem;
  }

  .field__label {
    color: var(--color-gray);
    font-size: 0.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.25rem
  }

  .field__input {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
  }

  .field:focus-within {
    border-color: #000;
  }

  .fields {
    display: grid;
    grid-gap: 1rem;
  }

  .fields--2 {
    grid-template-columns: 1fr 1fr;
  }

  .fields--3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

/*  .button {
    background-color: #000;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
    color: #fff;
    width: 100%;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 0;
    cursor: pointer;
    outline: 0;
  }*/

/*  .button:focus-visible {
    background-color: #333;
  }*/
}


.orderdetails-popup {
  @extend .center-position;
  position: fixed;
  top: 125px;
  height: calc(100% - 150px);
  width: 95%;
  background-color: #1D1D1D;
  border: solid 1px #EED253;
  color: white;

  .grid-table {
    display: table;
    width: 100%;
  }

  .thead {
    display: table-header-group;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: $background-color-light;
  }

  .tbody {
    display: table-row-group;
  }

  .tr {
    display: table-row;
  }

  .comment {
    width: 750px;
  }

  .stdtime {
    width: 100px;
  }

  .td {
    display: table-cell;
    padding: 10px 1px 1px 5px;
  }

  .thead div.tr div.td:last-child {
    background-color: $background-color-light;
  }

  i:hover {
    cursor: pointer;
  }

  input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border-color: #dc3545;
  }


  .elementToFadeInAndOut {
    -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards;
    opacity: 0;
  }

  @-webkit-keyframes fadeinout {
    50% {
      opacity: 1;
    }
  }

  @keyframes fadeinout {
    50% {
      opacity: 1;
    }
  }






  .modal-header {
    button {
      height: 100%;
    }
  }
}

.disableDiv {
  display : none;
  visibility : hidden;
}


.orderdetails-popup1 {
  padding: 5px 5px 5px 5px;
  background-color: #1D1D1D;
  border: solid 1px #EED253;
  color: white;

  .mat-form-field {
    padding: 0;
    .mat-form-field-wrapper{
        padding : 0 !important;
    }
  }


  .grid-table {
    display: table;
    width: 100%;
  }

  .thead {
    display: table-header-group;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: $background-color-light;
  }

  .tbody {
    display: table-row-group;
  }

  .tr {
    display: table-row;
  }

/*  .comment {
    width: 750px;
  }*/

  .stdtime {
    width: 100px;
  }

  .td {
    display: table-cell;
    padding: 1px 1px 1px 5px;
    vertical-align: central;
  }

  .thead div.tr div.td:last-child {
    background-color: $background-color-light;
  }

  i:hover {
    cursor: pointer;
  }

  input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border-color: #dc3545;
  }


  .elementToFadeInAndOut {
    -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards;
    opacity: 0;
  }

  @-webkit-keyframes fadeinout {
    50% {
      opacity: 1;
    }
  }

  @keyframes fadeinout {
    50% {
      opacity: 1;
    }
  }






  .modal-header {
    button {
      height: 100%;
    }
  }
}

.report-popup {
  @extend .center-position;
  position: fixed;
  height: 350px;
  width: 600px;
  background-color: #1D1D1D;
  border: solid 1px #EED253;
  color: white;

  .modal-header {
    button {
      height: 100%;
    }
  }

  .modal-body {
    height: 300px;
  }

  .modal-footer {
    height: 250px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;

    .col {
      background-color: #1D1D1D;
      .mat-form-field {
          color : white;
      }
    }
  }
}
