.mat-tab-labels {
  background-color: white !important;
}

.color-white {
  color: white;
}

.main-row {
  margin-left: 60px;
  margin-right: 60px;
}

.row {
  background-color: transparent;
  padding: 0;
  margin: 0;

  div {
    padding: 0;
    background-color: transparent;
  }
}
